:root {
  --main-background: #000;
  --theme-white: #fff;
  --theme-gray: #777;
  --border-color: #ccc;
  --header-grad: linear-gradient(to bottom,#dce3e8,#f6f9fb 50%,#f6f9fb 55%,#dbe2e8);
}
/*================================================
headings
=================================================*/
h1 {font-size: 2em;}
h2 {font-size:1.75em;}
h3 {font-size:1.5em;}
/*================================================
main structural Elements
=================================================*/
main,header {
  background-color: var(--theme-white);
  max-width: 2000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--main-background);
  font-size: 100%;
}
section {
  max-width: 1034px;
  margin: 0 auto;
}
article {
  border: 1px solid var(--border-color);
  padding: 0 1em;
}
p {
  margin: 1em 0;
}
strong {
  font-weight: bold;
  font-size: 110%
}
/*================================================
Site Header
=================================================*/
#mainHeader img {
  grid-area: logo;
  max-width: 100px;
}
#mainHeader nav {
  grid-area: nav;
}
#mainHeader nav ul {
  position: absolute;
  left: -9000px;
}
#mainHeader form {
  grid-area: form;
}
#mainHeader form label, #mainHeader form input:not(.submit) {
  position: absolute;
  left: -9999px;
}
#mainHeader form .submit {
  background-image: url(../img/icon/dk/search-loupe.svg);
  width: 25px;
  height: 25px;
  background-position: 0 0;
  background-size: contain;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
#mainHeader .address {
  grid-area: address;
  max-width: 100%;
  color: var(--theme-gray);
  list-style: none;
  margin: 0;
  padding:0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr minmax(50px, auto);
  gap: 25px;
}
#mainHeader {
  padding-top: 5px;
  display: grid;
  grid-template-columns: max(130px) 1fr max(100px);
  justify-items: center;
  align-items: center;
  background: var(--header-grad);
  grid-template-areas:
    "logo nav form"
    "address address address";
}
@media screen and (min-width: 600px) {
  #mainHeader {
    display: grid;
    grid-template-areas:
      "logo nav form"
      "logo address address";
  }
  #mainHeader nav > a {
    display: none;
  }
  #mainHeader nav ul {
    position: unset;
    
  }
}











.featured-image {
  background-repeat: no-repeat;
  order: -1;
}
main section .post {
  display: flex;
  flex-direction: column;
  padding-top: 10px;  

}




/*================================================
main blog index
=================================================*/
.blog main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/*================================================
main blog featured image
=================================================*/
.blog main section article .featured-image {
  min-height: 150px;
  background-position: 50%;
}
/*
================================================================================================
Singular
==================================================================================================
*/
/*================================================
Singular featured image
=================================================*/
.single main section article .featured-image {
  min-height: 500px;
  background-position: 50%;
 
}